body {
  margin: 0;
  font-family: "游ゴシック", "Hiragino Kaku Gothic ProN", sans-serif;
  background-color: #ffc0cb;
}

.header img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  background-color: #f8e58c;
  padding: 20px;
}

.cake-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.cake-item {
  width: 40%;
  background-color: #fdf2c4;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.cake-item img {
  width: 80%;
  height: auto;
  border-radius: 8px;
}

.cake-item h2 {
  font-size: 1.4em;
  color: #800000;
  margin-bottom: 10px;
}

.cake-item p {
  font-size: 0.95em;
  color: #333;
  text-align: left;
  margin: 10px auto;
  width: 85%;
  line-height: 1.6;
}
